label { font-weight: inherit; }
table label { width: 100%; }

.localizedState button.btn[disabled] { cursor: help; }

th.first { width: 50px; }
td.first { text-align: center; }

span.checkbox-group { margin-right: 10px; }
